AppWCF/Connected Services/ReferenciaNegocio/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServicios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServicios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Idcliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Idpais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombrecli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
</xs:schema>